<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- help action: [% action_help %] -->
<title>[% page_html.title %]</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<script type="text/javascript" src="[% c.uri_for('/static/js/jquery-1.4.2.min.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for('/static/js/pc.js') %]"></script>
[% IF use_jquery_ui != '' %]
<link rel="stylesheet" href="[% c.uri_for('/static/css','jquery-ui.css') %]" type="text/css" media="all" ></link>
<script src="[% c.uri_for('/static/js','jquery-ui.min.js') %]"></script>
[% END %]

<link href="/static/css/pc.css" type="text/css" rel="stylesheet"/>
	<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/css/pcie7.css') %]" />
	<![endif]-->
	
	<!--[if IE 6]>
	<link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/css/pcie6.css') %]" />
	<script type="text/javascript" src="[% c.uri_for('/static/js/pcie6.js') %]"></script>
	<![endif]--> 

  <script type="text/javascript">

  jQuery(document).ready(function() {
    //seta todos os th com Ação 
    $(".tr-header td:last-child").css({"width": "75px"});
    //seta todos os th com texto Data para width 75
    $(".tr-header td").each( function () {
      if ($(this).html() == 'Data') {
        $(this).css({"width": "75px"});
        }
      });

    });

  jQuery(document).ready(function() {				
    $(".boxcontent h2").css({"border-bottom": "2px solid #DDD"});
  });

  jQuery(document).ready(function() {				
    $("#header .menu ul li").mouseover(function() {
      $("#header .menu ul li ul").css({"display": "none"});
      $("#header .menu ul li a b").css({"background-position":"-390px -97px"});
      $("#header .menu ul li a").css({"color":"#FFF", "background-position":"-210px -97px"});
      $("ul", this).css({"display": "block"});
      $("a b", this).css({"background-position":"-190px -97px"});
      $("a", this).css({"color":"#000", "background-position":"-10px -97px"});
    });
  });

  jQuery(document).ready(function() {
    if($("#content").height() < $("#sidebar").height() ) {
    $("#footer").css({"margin-top":$('#sidebar').height() - $('#content').height() + 20});
    }
  });
  </script>
</head>
<body>
[% IF is_show_tinymce == '1'; %]
  <!-- tinymce begin -->
  [% INCLUDE 'src/include/tinymce.tt2' %]
  <!-- tinymce end -->
[% END %]

[% IF (status_msg != '' 
  || c.flash.status_msg != '' 
  || c.flash.message != ''
  || error_msg != ''
  )  %]
<div id="flash-messages" class="fm-error">
  <span class="message">[% status_msg || c.flash.status_msg || c.flash.message %]</span>
  <span class="error">[% error_msg %]</span>
</div>
[% END %]


<div id="corpo">

[% INCLUDE 'src/topo.tt2' %]

[% content %]
[% INCLUDE 'src/include/footer.tt2' %]
</div>







</body>
</html>

